* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: 'Nunito', monospace;
}

html,
body,
#root {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#root > main {
    flex: 1 1;
    overflow-x: hidden;
}

.flex-container {
    position: relative;
    min-height: 80vh;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
}

.flex-item {
    position: relative;
    flex: 1;
    z-index: 2;
    padding: 20px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lottie-animation {
    width: 550px !important;
    height: 100% !important;
    z-index: 2;
}
